*{
    padding: 0;
    margin: 0;
    font-family: Ubuntu;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    transition: .8s;
}

/* CSS header style starts here */
.header{
    height: 100vh;
    width: 100%;
    background-color: #141414;
    background-size: cover;
    background-position: center;
}
.logocontain{
    width: 13%;
    height: 90%;
    margin-right: 770px;
    margin-bottom: 5px;
}

nav{
    background-color: black;
    display: flex;
    flex-direction: row;
    height:100px;
    border-bottom-left-radius: 50px;
    align-items: flex-end;
    justify-content: end;
    
    
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding-bottom: 36px;
    padding-right: 18px;

}
nav ul li a{
    color: #FFBD59;
    text-decoration: none;
    font-size: 20px;
    padding: 9px 9px;

}
nav ul li a:hover{
    border: 2px solid #FFBD59;
    transition: .3s;
    cursor: pointer;
    border-radius: 50px;
    
}
.body{
    display: flex;
    flex-direction: row;
    
    margin-left: 50px;
}
.hometext{
    display: flex;
    flex-direction: column;
    width:50%;
    font-size: 28px;
    margin-top: 170px;
    line-height: 43px;
}
.morebut{
    margin-top: 15px;
    width:140px;
    height: 45px;
    background-color: #141414;
    color: #FFBD59;
    border-radius: 15px;
    border-color: #FFBD59;
    font-size: 20px;
}

